



/*NAV BAR*/

.navbar-marketflux {
  text-align: center;
  ul { float: none; }
  li {
    float: none;
    display: inline-block;
    &.active {
      a {opacity: 1;}
    }
    a { text-transform: uppercase;

      &:focus;
    }
  }
}

/*.dropdown:hover>.dropdown-menu {
    text-decoration: none;
    display: block;
}*/
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-menu {
  top: 100%;
  margin-top: .5em;
  background: #777;
  min-width: 12em;
  padding: 0;
  z-index: 101;
  background-color: #fff;
}
